.App {
  --font-family: 'Poppins';
}

.CodeMirror {
  background-color: #292D3E !important;
  color: #A6ACCD !important;
}

.CodeMirror-gutters {
  border: none !important;
  background: #292D3E !important;
  color: #676E95 !important;
}

.CodeMirror-guttermarker,
.CodeMirror-guttermarker-subtle,
.CodeMirror-linenumber {
  color: #676E95 !important;
}

.CodeMirror-cursor {
  border-left: 1px solid #FFCC00 !important;
}

.cm-keyword {
  color: #C792EA !important;
}

.cm-operator {
  color: #89DDFF !important;
}

.cm-variable-2 {
  color: #EEFFFF !important;
}

.cm-builtin {
  color: #FFCB6B !important;
}

.cm-atom {
  color: #F78C6C !important;
}

.cm-number {
  color: #FF5370 !important;
}

.cm-def {
  color: #82AAFF !important;
}

.cm-string {
  color: #C3E88D !important;
}

.cm-string-2 {
  color: #f07178 !important;
}

.cm-comment {
  color: #676E95 !important;
}

.cm-variable {
  color: #f07178 !important;
}

.cm-tag {
  color: #FF5370 !important;
}

.cm-meta {
  color: #FFCB6B !important;
}

.cm-attribute {
  color: #C792EA !important;
}

.cm-property {
  color: #C792EA !important;
}

.cm-qualifier {
  color: #DECB6B !important;
}

.cm-variable-3,
.cm-type {
  color: #DECB6B !important;
}

.markdown-body .CodeTabs {
  --md-code-background: #242e34;
  --md-code-text: #F4F4F4;
  --md-code-tabs: #2D373C;
  --md-code-radius: 6px;
}

.markdown-body .callout.callout_info {
  --emoji: unset;
  --title: #0064D3;
  --background: #DDEEFF;
  --border: #DDEEFF;
  border-radius: 6px;
}

.markdown-body .callout.callout_warn {
  --emoji: unset;
  --title: #E6B05F;
  --background: #FBF6EB;
  --border: #FBF6EB;
  border-radius: 6px;
}

.markdown-body .callout.callout_error {
  --title: #F27E77;
  --background: #FFECEB;
  --border: #FFECEB;
  border-radius: 6px;
}

.markdown-body .callout.callout_okay {
  --title: #64C685;
  --background: #EDFFF3;
  --border: #EDFFF3;
  border-radius: 6px;
}

.markdown-body .rdmd-table {
  --table-text: #3A4247;
  --table-head: #F2F2F2;
  --table-head-text: #3A4247;
  --table-stripe: #FFF;
  --table-edges: #DFE2E5;
  --table-row: #FFF;
}

.markdown-body img {
  display: inline-block;
  vertical-align: middle;
  outline: none !important;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin-left: unset;
  margin-right: auto;
  border-style: none;
  max-width: 100%;
}

.LandingWrap16kRMSdr5J8g {
  width: 100%;
}

.rm-LandingPage {
  --LandingPage-heading-color: #000;
  --LandingPage-edge: var(--color-border-default, var(--edge));
  --LandingPage-link-color: var(--color-text-muted);
  --LandingPage-gap: var(--gap, 0em);
}

h4.h4style {
  color: #707070;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.8em;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  font-family: Poppins;
  grid-gap: 2rem;
}

.grid-container1 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  font-family: Poppins;
  grid-gap: 2rem;
}

.grid-container2 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  font-family: Poppins;
  grid-gap: 2rem;
}

.grid-container3 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  font-family: Poppins;
  grid-gap: 2rem;
}

.item-a {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 4;
  font-family: Poppins;
}

.item-f {
  grid-row-start: 2;
  grid-column-start: 9;
  font-family: Poppins;
}

.grid-item-d {
  display: grid;
  grid-row-start: 1;
  grid-column-start: 4;
  grid-row-end: 2;
  grid-column-end: 5;
  justify-content: left;
  transition: all .2s ease-in-out;
  font-family: Poppins;
  font-size: 30px;
}

.grid-item-t {
  display: grid;
  grid-row-start: 1;
  grid-column-start: 5;
  grid-row-end: 2;
  grid-column-end: 6;
  transition: all .2s ease-in-out;
  font-family: Poppins;
  font-size: 30px;
}

.grid-item-s {
  display: grid;
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 3;
  transition: all .2s ease-in-out;
  font-family: Poppins;
  font-size: 30px;
}

.grid-item-sr {
  display: grid;
  grid-row-start: 1;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-column-end: 4;
  transition: all .2s ease-in-out;
  font-family: Poppins;
  font-size: 30px;
}

.grid-item-e {
  display: grid;
  grid-row-start: 1;
  grid-column-start: 4;
  grid-row-end: 2;
  grid-column-end: 5;
  transition: all .2s ease-in-out;
  font-family: Poppins;
  font-size: 30px;
}

.grid-item-p {
  display: grid;
  grid-row-start: 1;
  grid-column-start: 5;
  grid-row-end: 2;
  grid-column-end: 6;
  transition: all .2s ease-in-out;
  font-family: Poppins;
  font-size: 30px;
}

.grid-item-s1 {
  display: grid;
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 3;
  transition: all .2s ease-in-out;
  font-family: Poppins;
  font-size: 30px;
}

.grid-item-sr1 {
  display: grid;
  grid-row-start: 2;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-column-end: 4;
  transition: all .2s ease-in-out;
  font-family: Poppins;
  font-size: 30px;
}

.grid-item-e1 {
  display: grid;
  grid-row-start: 2;
  grid-column-start: 4;
  grid-row-end: 2;
  grid-column-end: 5;
  transition: all .2s ease-in-out;
  font-family: Poppins;
  font-size: 30px;
}

.grid-item-p1 {
  display: grid;
  grid-row-start: 2;
  grid-column-start: 5;
  grid-row-end: 2;
  grid-column-end: 6;
  transition: all .2s ease-in-out;
  font-family: Poppins;
  font-size: 30px;
}

.grid-item-s2 {
  display: grid;
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 3;
  transition: all .2s ease-in-out;
  font-family: Poppins;
  font-size: 30px;
}

.grid-item-sr2 {
  display: grid;
  grid-row-start: 1;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-column-end: 4;
  transition: all .2s ease-in-out;
  font-family: Poppins;
  font-size: 30px;
}

.grid-item-e2 {
  display: grid;
  grid-row-start: 1;
  grid-column-start: 4;
  grid-row-end: 2;
  grid-column-end: 5;
  transition: all .2s ease-in-out;
  font-family: Poppins;
  font-size: 30px;
}

.grid-item-p2 {
  display: grid;
  grid-row-start: 1;
  grid-column-start: 5;
  grid-row-end: 2;
  grid-column-end: 6;
  transition: all .2s ease-in-out;
  font-family: Poppins;
  font-size: 30px;
}

.grid-item-s3 {
  display: grid;
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 3;
  transition: all .2s ease-in-out;
  font-family: Poppins;
  font-size: 30px;
}

.grid-item-sr3 {
  display: grid;
  grid-row-start: 2;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-column-end: 4;
  transition: all .2s ease-in-out;
  font-family: Poppins;
  font-size: 30px;
}

.grid-item-e3 {
  display: grid;
  grid-row-start: 2;
  grid-column-start: 4;
  grid-row-end: 2;
  grid-column-end: 5;
  transition: all .2s ease-in-out;
  font-family: Poppins;
  font-size: 30px;
}

.grid-item-p3 {
  display: grid;
  grid-row-start: 2;
  grid-column-start: 5;
  grid-row-end: 2;
  grid-column-end: 6;
  transition: all .2s ease-in-out;
  font-family: Poppins;
  font-size: 30px;
}

.grid-item-s4 {
  display: grid;
  grid-row-start: 3;
  grid-column-start: 2;
  grid-row-end: 4;
  grid-column-end: 3;
  transition: all .2s ease-in-out;
  font-family: Poppins;
  font-size: 30px;
}

.grid-item-sr4 {
  display: grid;
  grid-row-start: 3;
  grid-column-start: 3;
  grid-row-end: 4;
  grid-column-end: 4;
  transition: all .2s ease-in-out;
  font-family: Poppins;
  font-size: 30px;
}

.grid-item-e4 {
  display: grid;
  grid-row-start: 3;
  grid-column-start: 4;
  grid-row-end: 4;
  grid-column-end: 5;
  transition: all .2s ease-in-out;
  font-family: Poppins;
  font-size: 30px;
}

.grid-item-s5 {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 4;
  transition: all .2s ease-in-out;
  padding-top: 50px;
  font-family: Poppins;
  font-size: 30px;
}

.grid-item-sr5 {
  grid-column-start: 4;
  grid-column-end: 6;
  transition: all .2s ease-in-out;
  padding-left: 100px;
  font-family: Poppins;
  font-size: 30px;
}

.grid-item-d:hover {
  transform: scale(1.05);
}

.grid-item-t:hover {
  transform: scale(1.05);
}

.grid-item-s:hover {
  transform: scale(1.05);
}

.grid-item-sr:hover {
  transform: scale(1.05);
}

.grid-item-e:hover {
  transform: scale(1.05);
}

.grid-item-p:hover {
  transform: scale(1.05);
}

.grid-item-s1:hover {
  transform: scale(1.05);
}

.grid-item-sr1:hover {
  transform: scale(1.05);
}

.grid-item-e1:hover {
  transform: scale(1.05);
}

.grid-item-p1:hover {
  transform: scale(1.05);
}

.grid-item-sr2:hover {
  transform: scale(1.05);
}

.grid-item-e2:hover {
  transform: scale(1.05);
}

.grid-item-p2:hover {
  transform: scale(1.05);
}

.grid-item-sr3:hover {
  transform: scale(1.05);
}

.grid-item-e3:hover {
  transform: scale(1.05);
}

.grid-item-p3:hover {
  transform: scale(1.05);
}

.grid-item-sr4:hover {
  transform: scale(1.05);
}

.grid-item-e4:hover {
  transform: scale(1.05);
}

.grid-item-p4:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 1366px) {
  .grid-container {
    grid-template-columns: repeat(6, 1.5fr);
    grid-template-rows: repeat(2, 1.5fr);
    height: 750px;
    grid-gap: 1rem;
  }
  .item-a {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 6;
  }
  .grid-item-d {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 4;
  }
  .grid-item-t {
    grid-row-start: 2;
    grid-column-start: 4;
  }
  .grid-container1 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    font-family: Poppins;
    grid-gap: 2rem;
  }
  .grid-item-s {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 1;
    grid-column-end: 4;
  }
  .grid-item-sr {
    grid-row-start: 1;
    grid-column-start: 4;
    grid-row-end: 1;
    grid-column-end: 6;
  }
  .grid-item-e {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 4;
  }
  .grid-item-p {
    grid-row-start: 2;
    grid-column-start: 4;
    grid-row-end: 2;
    grid-column-end: 6;
  }
  .grid-item-s1 {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 4;
  }
  .grid-item-sr1 {
    grid-row-start: 3;
    grid-column-start: 4;
    grid-row-end: 3;
    grid-column-end: 6;
  }
  .grid-item-e1 {
    grid-row-start: 4;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-column-end: 4;
  }
  .grid-item-p1 {
    grid-row-start: 4;
    grid-column-start: 4;
    grid-row-end: 4;
    grid-column-end: 6;
  }
  .grid-container2 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    font-family: Poppins;
    grid-gap: 2rem;
  }
  .grid-item-s2 {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 1;
    grid-column-end: 8;
  }
  .grid-item-sr2 {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 4;
  }
  .grid-item-e2 {
    grid-row-start: 2;
    grid-column-start: 4;
    grid-row-end: 2;
    grid-column-end: 6;
  }
  .grid-item-p2 {
    grid-row-start: 2;
    grid-column-start: 6;
    grid-row-end: 2;
    grid-column-end: 8;
  }
  .grid-item-s3 {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 8;
  }
  .grid-item-sr3 {
    grid-row-start: 4;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-column-end: 4;
  }
  .grid-item-e3 {
    grid-row-start: 4;
    grid-column-start: 4;
    grid-row-end: 4;
    grid-column-end: 6;
  }
  .grid-item-p3 {
    grid-row-start: 4;
    grid-column-start: 6;
    grid-row-end: 4;
    grid-column-end: 8;
  }
  .grid-item-s4 {
    grid-row-start: 5;
    grid-column-start: 2;
    grid-row-end: 5;
    grid-column-end: 8;
    padding-left: unset;
    padding-right: unset;
  }
  .grid-item-sr4 {
    grid-row-start: 6;
    grid-column-start: 2;
    grid-row-end: 6;
    grid-column-end: 4;
  }
  .grid-item-e4 {
    grid-row-start: 6;
    grid-column-start: 4;
    grid-row-end: 6;
    grid-column-end: 6;
  }
  .grid-item-p4 {
    grid-row-start: 6;
    grid-column-start: 6;
    grid-row-end: 6;
    grid-column-end: 8;
  }
}

@media screen and (max-width: 1010px) {
  .social-badges {
    --size: 2.75rem;
    display: block;
    grid-column-start: 15;
    align-self: center;
    width: 36px;
    padding-right: 5px;
  }
  .grid-item-badge1 {
    --size: 2.75rem;
    display: block;
    grid-column-start: 3;
    align-self: center;
    width: 36px;
    padding-right: 5px;
  }
  .grid-container {
    display: unset;
    padding: unset;
    font-family: Poppins;
  }
  .grid-container1 {
    display: unset;
    padding: unset;
    font-family: Poppins;
  }
  .grid-container2 {
    display: unset;
    padding: unset;
    font-family: Poppins;
  }
  .grid-container3 {
    display: unset;
    padding: unset;
    background: #F6FAFE;
    font-family: Poppins;
  }
  .grid-item-s5 {
    display: none;
  }
  .grid-item-sr5 p {
    text-align: center !important;
  }
  .grid-item-sr5 {
    display: block;
    padding-bottom: 20px;
    padding-left: 20%;
    padding-right: 20%;
    background: #F6FAFE;
    text-align: center;
  }
  .item-a {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid-item-d {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid-item-t {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid-item-s {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid-item-sr {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid-item-e {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid-item-p {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid-item-s1 {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid-item-sr1 {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid-item-e1 {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid-item-p1 {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid-item-s2 {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid-item-sr2 {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid-item-e2 {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid-item-p2 {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid-item-s3 {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid-item-sr3 {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid-item-e3 {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid-item-p3 {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid-item-s4 {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid-item-sr4 {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid-item-e4 {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid-item-p4 {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid-footer {
    display: flex !important;
  }
  .grid-footer-cpr {
    grid-template-columns: repeat(2, 200px) !important;
  }
}

@media screen and (max-width: 810px) {
  .social-badges {
    --size: 2.75rem;
    display: block;
    grid-column-start: 13;
    align-self: center;
    width: 36px;
    padding-right: 5px;
  }
  .grid-item-badge1 {
    --size: 2.75rem;
    display: block;
    grid-column-start: 5;
    align-self: center;
    width: 36px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 699px) {
  .item-a {
    margin-bottom: 5px;
    padding-left: 10px;
  }
  .grid-item-d {
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid-item-t {
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid-item-s {
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid-item-sr {
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid-item-e {
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid-item-p {
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 600px) {
  .grid-footer {
    grid-template-columns: repeat(20, 40px);
  }
  .grid-footer-cpr {
    grid-template-columns: repeat(2, 200px);
  }
}

@media screen and (max-width: 450px) {
  .imgbox {
    display: inline-block;
    padding: 2rem 2rem;
  }
  .imgbox>h1 {
    font-size: 28px;
  }
  .imgbox>p {
    font-size: 18px;
  }
}

.img-content {
  display: block !important;
  vertical-align: unset !important;
  outline: none !important;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border-style: none;
  max-width: 101px;
  min-width: 101px;
}

.link-wrapper {
  opacity: 1;
  display: grid !important;
  display: flex;
  flex-grow: 1;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid var(--unnamed-color-ededed);
  border: 1px solid #EDEDED;
  border-radius: 6px;
  padding: 16px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  text-align: left;
  text-decoration: none !important;
}

.link-cpr {
  width: max-content;
  padding-top: 10px;
  font: normal normal normal 14px/19px Poppins;
  font-size: 14px;
  text-decoration: none;
}

.link-wrapper:hover {
  font-weight: 600;
}

.card-label {
  opacity: 1;
  margin-top: 20px;
  color: var(--unnamed-color-080a15);
  color: #080A15;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 22px var(--unnamed-font-family-nunito-sans);
  font: normal normal bold 20px/24px Poppins;
  font-family: Poppins;
  font-size: 16px;
  letter-spacing: var(--unnamed-character-spacing-0);
  letter-spacing: 0px;
}

.gallery {
  position: relative;
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  max-width: 100vw;
  max-height: 100vh;
  text-align: center;
}

.centered {
  position: absolute;
  z-index: 1;
  top: 40%;
  left: 50%;
  opacity: 1;
  display: grid;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  font: normal normal normal 16px/22px Poppins;
  font-size: 48px;
  letter-spacing: 0px;
}

.imgbox {
  display: grid;
  grid-template-columns: repeat(1, minmax(240px, 1fr));
  align-items: center;
  margin-bottom: 50px;
  padding: 10rem 10rem;
  background: url('https://files.readme.io/68fc23c-Group_79821.svg') center;
  background-size: cover;
}

.imgbox>h1 {
  margin-bottom: -5px;
  color: white;
  font: normal 48px Poppins;
  text-align: center;
}

.imgbox>p {
  color: white;
  font: normal 22px Poppins;
  text-align: center;
}

.grid-footer {
  display: grid;
  flex-wrap: nowrap;
  grid-template-columns: repeat(20, 50px);
  justify-content: center;
  gap: 0px 0px;
  border-top: 1px solid #9E9FA8;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
  font-family: Poppins;
  grid-gap: 1rem;
}

.grid-footer-cpr {
  display: grid;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: repeat(2, 30px);
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  font-family: Poppins;
}

.social-badges {
  --size: 2.75rem;
  display: block;
  grid-column-start: 17;
  align-self: center;
  width: 36px;
  padding-right: 5px;
}

.space {
  display: flex;
  grid-template-columns: repeat(1, 50px);
  grid-template-rows: repeat(1, 50px);
  justify-items: center;
  width: 500px;
  padding-bottom: 10px;
  background-color: black;
}

.space-en {
  display: flex;
  grid-template-columns: repeat(1, 50px);
  grid-template-rows: repeat(1, 50px);
  justify-items: center;
  width: 349px;
  padding-bottom: 10px;
  background-color: black;
}

.grid-item-badge {
  --size: 2.75rem;
  display: block;
  align-self: center;
  width: 36px;
  padding-right: 5px;
}

.grid-item-badge1 {
  --size: 2.75rem;
  display: block;
  align-self: center;
  width: 36px;
  padding-right: 5px;
}

.bdg-wrapper {
  display: grid !important;
  flex-grow: 1;
  align-content: left;
  text-decoration: none !important;
}

.bdg-content {
  position: initial;
  display: grid !important;
  vertical-align: unset !important;
  outline: none !important;
  box-sizing: content-box;
  margin: auto;
  border-style: none;
  width: 36px;
  max-width: 100% !important;
  max-height: 100%;
  object-fit: fill;
}

.rm-Header_custom-pos-top-left {
  background-position: center center;
}

.SearchBert1u4IeBwd-ET6 {
  --Owlbot-bg: #ffffff5c;
}

.Header-topuTMpygDG4e1V {
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  box-sizing: border-box;
  border: 0;
  border-radius: 26px;
  max-width: 480px;
  min-width: 0px;
  min-height: 40px;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #3D63CC;
  color: #ffffff;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  touch-action: manipulation;
}

.btn:hover,
.btn:focus {
  background-color: #16437E;
  color: #ffffff;
}

.btn:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.btn:disabled {
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
  cursor: not-allowed;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


/* Dark mode – Tables */
@media (prefers-color-scheme: dark) {
  [data-color-mode="system"] .markdown-body .rdmd-table {
    --table-text: #E5E7EB;
    --table-head: #111827;
    --table-head-text: #F9FAFB;
    --table-stripe: #0B1220;
    --table-edges: #1F2937;
    --table-row: #020617;
  }
}

[data-color-mode="dark"] .markdown-body .rdmd-table {
  --table-text: #E5E7EB;
  --table-head: #111827;
  --table-head-text: #F9FAFB;
  --table-stripe: #0B1220;
  --table-edges: #1F2937;
  --table-row: #020617;
}


/* Dark mode – Callouts */
@media (prefers-color-scheme: dark) {
  [data-color-mode="system"] .markdown-body .callout.callout_info {
    --emoji: unset;
    --title: #93C5FD;
    --background: #0B1220;
    --border: #1D4ED8;
  }
  [data-color-mode="system"] .markdown-body .callout.callout_warn {
    --emoji: unset;
    --title: #FACC6B;
    --background: #171113;
    --border: #92400E;
  }
  [data-color-mode="system"] .markdown-body .callout.callout_error {
    --title: #FCA5A5;
    --background: #180B10;
    --border: #B91C1C;
  }
  [data-color-mode="system"] .markdown-body .callout.callout_okay {
    --title: #6EE7B7;
    --background: #022C22;
    --border: #16A34A;
  }
}

[data-color-mode="dark"] .markdown-body .callout.callout_info {
  --emoji: unset;
  --title: #93C5FD;
  --background: #0B1220;
  --border: #1D4ED8;
}

[data-color-mode="dark"] .markdown-body .callout.callout_warn {
  --emoji: unset;
  --title: #FACC6B;
  --background: #171113;
  --border: #92400E;
}

[data-color-mode="dark"] .markdown-body .callout.callout_error {
  --title: #FCA5A5;
  --background: #180B10;
  --border: #B91C1C;
}

[data-color-mode="dark"] .markdown-body .callout.callout_okay {
  --title: #6EE7B7;
  --background: #022C22;
  --border: #16A34A;
}


/* Dark mode – Code blocks */
@media (prefers-color-scheme: dark) {
  [data-color-mode="system"] .markdown-body {
    --md-code-background: #020617;
    --md-code-text: #E5E7EB;
    --md-code-tabs: #0B1220;
    --md-code-radius: 6px;
  }
}

[data-color-mode="dark"] .markdown-body {
  --md-code-background: #020617;
  --md-code-text: #E5E7EB;
  --md-code-tabs: #0B1220;
  --md-code-radius: 6px;
}


/* Dark mode: borders on CodeTabs panels */
@media (prefers-color-scheme: dark) {
  [data-color-mode="system"] .markdown-body .CodeTabs {
    overflow: hidden;
    border: 1px solid #C9C9C9;
    border-radius: 6px;
  }
}

[data-color-mode="dark"] .markdown-body .CodeTabs {
  overflow: hidden;
  border: 1px solid #C9C9C9;
  border-radius: 6px;
}


/* Dark mode – force hyperlink color inside docs body */
@media (prefers-color-scheme: dark) {
  [data-color-mode="system"] .markdown-body a,
    [data-color-mode="system"] .markdown-body a:visited {
    color: #01D9C1 !important;
  }
  [data-color-mode="system"] .markdown-body a:hover,
    [data-color-mode="system"] .markdown-body a:focus {
    color: #01F5D9 !important;
  }
}

[data-color-mode="dark"] .markdown-body a,
[data-color-mode="dark"] .markdown-body a:visited {
  color: #01D9C1 !important;
}

[data-color-mode="dark"] .markdown-body a:hover,
[data-color-mode="dark"] .markdown-body a:focus {
  color: #01F5D9 !important;
}
