{
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "description": "The purpose of this application is to provide access to Akeyless API.",
    "title": "Akeyless API",
    "contact": {
      "name": "Akeyless",
      "url": "http://akeyless.io",
      "email": "support@akeyless.io"
    },
    "version": "3.0"
  },
  "host": "api.akeyless.io",
  "paths": {
    "/account-custom-field-create": {
      "post": {
        "tags": [
          "v2"
        ],
        "summary": "Create a new custom field.",
        "operationId": "accountCustomFieldCreate",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/accountCustomFieldCreate"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/accountCustomFieldCreateResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/account-custom-field-delete": {
      "post": {
        "tags": [
          "v2"
        ],
        "summary": "Delete a custom field.",
        "operationId": "accountCustomFieldDelete",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/accountCustomFieldDelete"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/accountCustomFieldDeleteResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/account-custom-field-get": {
      "post": {
        "tags": [
          "v2"
        ],
        "summary": "Get an account custom field by ID.",
        "operationId": "accountCustomFieldGet",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/accountCustomFieldGet"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/accountCustomFieldGetResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/account-custom-field-list": {
      "post": {
        "description": "Returns a list of all custom fields configured for the account, optionally filtered by object and object type.",
        "tags": [
          "v2"
        ],
        "summary": "List all account custom fields.",
        "operationId": "accountCustomFieldList",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/accountCustomFieldList"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/accountCustomFieldListResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/account-custom-field-update": {
      "post": {
        "tags": [
          "v2"
        ],
        "summary": "Update a custom field.",
        "operationId": "accountCustomFieldUpdate",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/accountCustomFieldUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/accountCustomFieldUpdateResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/alias-details": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "aliasDetails",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/aliasDetails"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/deleteRoleResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/assoc-role-am": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "assocRoleAuthMethod",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/assocRoleAuthMethod"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/assocRoleAuthMethodResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/assoc-target-item": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "assocTargetItem",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/assocTargetItem"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/assocTargetItemResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/auth": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "auth",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Auth"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/authResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        },
        "x-generate-protobuf": "true"
      }
    },
    "/auth-method-create-api-key": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "authMethodCreateApiKey",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/authMethodCreateApiKey"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/authMethodCreateApiKeyResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/auth-method-create-aws-iam": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "authMethodCreateAwsIam",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/authMethodCreateAwsIam"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/authMethodCreateAwsIamResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/auth-method-create-azure-ad": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "authMethodCreateAzureAD",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/authMethodCreateAzureAD"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/authMethodCreateAzureADResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/auth-method-create-cert": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "authMethodCreateCert",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/authMethodCreateCert"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/authMethodCreateCertResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/auth-method-create-email": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "authMethodCreateEmail",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/authMethodCreateEmail"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/authMethodCreateEmailResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/auth-method-create-gcp": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "authMethodCreateGcp",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/authMethodCreateGcp"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/authMethodCreateGcpResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/auth-method-create-k8s": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "authMethodCreateK8s",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/authMethodCreateK8s"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/authMethodCreateK8sResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/auth-method-create-kerberos": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "authMethodCreateKerberos",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/authMethodCreateKerberos"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/authMethodCreateUniversalIdentityResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/auth-method-create-ldap": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "authMethodCreateLdap",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/authMethodCreateLdap"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/authMethodCreateLdapResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/auth-method-create-oauth2": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "authMethodCreateOauth2",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/authMethodCreateOauth2"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/authMethodCreateOauth2Response"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/auth-method-create-oci": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "authMethodCreateOCI",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/authMethodCreateOCI"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/authMethodCreateOCIResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/auth-method-create-oidc": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "authMethodCreateOIDC",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/authMethodCreateOIDC"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/authMethodCreateOIDCResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/auth-method-create-saml": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "authMethodCreateSAML",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/authMethodCreateSAML"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/authMethodCreateSAMLResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/auth-method-create-universal-identity": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "authMethodCreateUniversalIdentity",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/authMethodCreateUniversalIdentity"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/authMethodCreateUniversalIdentityResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/auth-method-delete": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "authMethodDelete",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/authMethodDelete"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/authMethodDeleteResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/auth-method-get": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "authMethodGet",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/authMethodGet"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/authMethodGetResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/auth-method-list": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "authMethodList",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/authMethodList"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/authMethodListResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/auth-method-update-api-key": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "authMethodUpdateApiKey",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/authMethodUpdateApiKey"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/authMethodUpdateApiKeyResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/auth-method-update-aws-iam": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "authMethodUpdateAwsIam",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/authMethodUpdateAwsIam"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/authMethodUpdateAwsIamResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/auth-method-update-azure-ad": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "authMethodUpdateAzureAD",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/authMethodUpdateAzureAD"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/authMethodUpdateAzureADResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/auth-method-update-cert": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "authMethodUpdateCert",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/authMethodUpdateCert"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/authMethodUpdateCertResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/auth-method-update-email": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "authMethodUpdateEmail",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/authMethodUpdateEmail"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/authMethodUpdateEmailResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/auth-method-update-gcp": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "authMethodUpdateGcp",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/authMethodUpdateGcp"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/authMethodUpdateGcpResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/auth-method-update-k8s": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "authMethodUpdateK8s",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/authMethodUpdateK8s"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/authMethodUpdateK8sResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/auth-method-update-kerberos": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "authMethodUpdateKerberos",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/authMethodUpdateKerberos"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/authMethodCreateUniversalIdentityResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/auth-method-update-ldap": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "authMethodUpdateLdap",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/authMethodUpdateLdap"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/authMethodUpdateLdapResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/auth-method-update-oauth2": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "authMethodUpdateOauth2",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/authMethodUpdateOauth2"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/authMethodUpdateOauth2Response"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/auth-method-update-oci": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "authMethodUpdateOCI",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/authMethodUpdateOCI"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/authMethodUpdateOCIResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/auth-method-update-oidc": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "authMethodUpdateOIDC",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/authMethodUpdateOIDC"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/authMethodUpdateOIDCResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/auth-method-update-saml": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "authMethodUpdateSAML",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/authMethodUpdateSAML"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/authMethodUpdateSAMLResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/auth-method-update-universal-identity": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "authMethodUpdateUniversalIdentity",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/authMethodUpdateUniversalIdentity"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/authMethodUpdateUniversalIdentityResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/calc-password-security-info": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "calcPasswordSecurityInfo",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/calcPasswordSecurityInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/calcPasswordSecurityInfoResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/change-admin-account-password": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "changeAdminAccountPassword",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/changeAdminAccountPassword"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/resetAccountAccessKeyResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/configure": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "configure",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/configure"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/configureResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/connect": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "Connect",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Connect"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/connectResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-artifactory-target": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createArtifactoryTarget",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createArtifactoryTarget"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createArtifactoryTargetResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-auth-method": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createAuthMethod",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createAuthMethod"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createAuthMethodResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-auth-method-aws-iam": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createAuthMethodAWSIAM",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createAuthMethodAWSIAM"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createAuthMethodAWSIAMResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-auth-method-azure-ad": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createAuthMethodAzureAD",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createAuthMethodAzureAD"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createAuthMethodAzureADResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-auth-method-cert": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createAuthMethodCert",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createAuthMethodCert"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createAuthMethodCertResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-auth-method-email": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createAuthMethodEmail",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createAuthMethodEmail"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createAuthMethodEmailResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-auth-method-gcp": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createAuthMethodGCP",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createAuthMethodGCP"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createAuthMethodGCPResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-auth-method-huawei": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createAuthMethodHuawei",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createAuthMethodHuawei"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createAuthMethodHuaweiResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-auth-method-k8s": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createAuthMethodK8S",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createAuthMethodK8S"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createAuthMethodK8SResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-auth-method-ldap": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createAuthMethodLDAP",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createAuthMethodLDAP"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createAuthMethodLDAPResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-auth-method-oauth2": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createAuthMethodOAuth2",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createAuthMethodOAuth2"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createAuthMethodOAuth2Response"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-auth-method-oci": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createAuthMethodOCI",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createAuthMethodOCI"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createAuthMethodOCIResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-auth-method-oidc": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createAuthMethodOIDC",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createAuthMethodOIDC"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createAuthMethodOIDCResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-auth-method-saml": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createAuthMethodSAML",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createAuthMethodSAML"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createAuthMethodSAMLResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-auth-method-universal-identity": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createAuthMethodUniversalIdentity",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createAuthMethodUniversalIdentity"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createAuthMethodUniversalIdentityResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-aws-target": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createAWSTarget",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createAWSTarget"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createAWSTargetResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-azure-target": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createAzureTarget",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createAzureTarget"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createAzureTargetResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-certificate": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createCertificate",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createCertificate"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createCertificateResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-classic-key": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "CreateClassicKey",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateClassicKey"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/CreateClassicKeyResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-db-target": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createDBTarget",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createDBTarget"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createDBTargetResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-dfc-key": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createDFCKey",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createDFCKey"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createDFCKeyResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-dockerhub-target": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createDockerhubTarget",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createDockerhubTarget"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createDockerhubTargetResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-dynamic-secret": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createDynamicSecret",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createDynamicSecret"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createDynamicSecretResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-eks-target": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createEKSTarget",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createEKSTarget"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createEKSTargetResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-esm": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "CreateESM",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateESM"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/CreateExternalSecretsManagerResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-event-forwarder": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createEventForwarder",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createEventForwarder"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createEventForwarderResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-gcp-target": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createGcpTarget",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createGcpTarget"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createGcpTargetResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-github-target": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createGithubTarget",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createGithubTarget"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createGithubTargetResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-gitlab-target": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createGitlabTarget",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createGitlabTarget"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createGitlabTargetResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-gke-target": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createGKETarget",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createGKETarget"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createGKETargetResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-globalsign-atlas-target": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createGlobalSignAtlasTarget",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createGlobalSignAtlasTarget"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createGlobalSignAtlasTargetResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-globalsign-target": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createGlobalSignTarget",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createGlobalSignTarget"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createGlobalSignTargetResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-godaddy-target": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createGodaddyTarget",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createGodaddyTarget"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createGodaddyTargetResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-group": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createGroup",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createGroupResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-hashi-vault-target": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createHashiVaultTarget",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createHashiVaultTarget"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createHashiVaultTargetResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-k8s-target": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createNativeK8STarget",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createNativeK8STarget"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createNativeK8STargetResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-key": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createKey",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createKey"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createKeyResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-ldap-target": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createldapTarget",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createLdapTarget"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createldapTargetResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-linked-target": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createLinkedTarget",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createLinkedTarget"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createLinkedTargetResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-oidc-app": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createOidcApp",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createOidcApp"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createOidcAppResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-passkey": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "CreatePasskey",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreatePasskey"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/CreatePasskeyResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-ping-target": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createPingTarget",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createPingTarget"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createPingTargetResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-pki-cert-issuer": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "CreatePKICertIssuer",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreatePKICertIssuer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createPKICertIssuerResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-rabbitmq-target": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createRabbitMQTarget",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createRabbitMQTarget"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createRabbitMQTargetResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-role": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createRole",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createRole"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createRoleResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-rotated-secret": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createRotatedSecret",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createRotatedSecret"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createRotatedSecretResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-salesforce-target": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createSalesforceTarget",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createSalesforceTarget"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createSalesforceTargetResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-secret": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createSecret",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createSecret"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createSecretResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        },
        "x-generate-protobuf": "true"
      }
    },
    "/create-ssh-cert-issuer": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createSSHCertIssuer",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createSSHCertIssuer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createSSHCertIssuerResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-ssh-target": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createSSHTarget",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createSSHTarget"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createSSHTargetResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-tokenizer": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createTokenizer",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createTokenizer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createTokenizerResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-usc": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "CreateUSC",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateUSC"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/CreateUniversalSecretsConnectorResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-user-event": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createUserEvent",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createUserEvent"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createUserEventResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-web-target": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createWebTarget",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createWebTarget"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createWebTargetResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-windows-target": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createWindowsTarget",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createWindowsTarget"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createWindowsTargetResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/create-zerossl-target": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "createZeroSSLTarget",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createZeroSSLTarget"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createZeroSSLTargetResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/deactivate-acme-account": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "deactivateAcmeAccount",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/deactivateAcmeAccount"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/deactivateAcmeAccountResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/decrypt": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "decrypt",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/decrypt"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/decryptResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/decrypt-batch": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "decryptBatch",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchEncryptionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/decryptResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/decrypt-gpg": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "decryptGPG",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/decryptGPG"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/decryptGPGResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/decrypt-pkcs1": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "decryptPKCS1",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/decryptPKCS1"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/decryptPKCS1Response"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/decrypt-with-classic-key": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "decryptWithClassicKey",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/decryptWithClassicKey"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/decryptWithClassicKeyResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/delete-assoc": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "deleteRoleAssociation",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/deleteRoleAssociation"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/deleteRoleAssociationResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/delete-assoc-target-item": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "deleteTargetAssociation",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/deleteTargetAssociation"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/deleteTargetAssociationResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/delete-auth-method": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "deleteAuthMethod",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/deleteAuthMethod"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/deleteAuthMethodResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/delete-auth-methods": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "deleteAuthMethods",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/deleteAuthMethods"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/deleteAuthMethodsResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/delete-event-forwarder": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "deleteEventForwarder",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/deleteEventForwarder"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/deleteEventForwarderResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/delete-gateway-cluster": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "deleteGwCluster",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/deleteGwCluster"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/deleteGwClusterResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/delete-group": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "deleteGroup",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/deleteGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/deleteGroupResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/delete-item": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "deleteItem",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/deleteItem"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/deleteItemResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        },
        "x-generate-protobuf": "true"
      }
    },
    "/delete-items": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "deleteItems",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/deleteItems"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/deleteItemsResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/delete-role": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "deleteRole",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/deleteRole"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/deleteRoleResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/delete-role-rule": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "deleteRoleRule",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/deleteRoleRule"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/deleteRoleRuleResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/delete-roles": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "deleteRoles",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/deleteRoles"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/deleteRolesResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/delete-target": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "deleteTarget",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/deleteTarget"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/deleteTargetResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/delete-targets": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "deleteTargets",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/deleteTargets"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/deleteTargetsResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/derive-key": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "DeriveKey",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeriveKey"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/DeriveKeyResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/describe-item": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "describeItem",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/describeItem"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/describeItemResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        },
        "x-generate-protobuf": "true"
      }
    },
    "/describe-permissions": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "describePermissions",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/describePermissions"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/DescribePermissionsResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/describe-role-am-assoc": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "describeAssoc",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/describeAssoc"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/describeAssocResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/describe-sub-claims": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "describeSubClaims",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/describeSubClaims"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/describeSubClaimsResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/detokenize": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "detokenize",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/detokenize"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/detokenizeResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/detokenize-batch": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "detokenizeBatch",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchTokenizationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/detokenizeResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/dynamic-secret-create-artifactory": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "dynamicSecretCreateArtifactory",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dynamicSecretCreateArtifactory"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/dynamicSecretCreateArtifactoryResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/dynamic-secret-create-aws": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "dynamicSecretCreateAws",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dynamicSecretCreateAws"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/dynamicSecretCreateAwsResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/dynamic-secret-create-azure": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "dynamicSecretCreateAzure",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dynamicSecretCreateAzure"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/dynamicSecretCreateAzureResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/dynamic-secret-create-cassandra": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "dynamicSecretCreateCassandra",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dynamicSecretCreateCassandra"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/dynamicSecretCreateCassandraResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/dynamic-secret-create-custom": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "dynamicSecretCreateCustom",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/dynamicSecretCreateCustom"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/dynamicSecretCreateCustomResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/dynamic-secret-create-dockerhub": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "dynamicSecretCreateDockerhub",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dynamicSecretCreateDockerhub"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/dynamicSecretCreateDockerhubResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/dynamic-secret-create-eks": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "dynamicSecretCreateEks",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dynamicSecretCreateEks"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/dynamicSecretCreateEksResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/dynamic-secret-create-gcp": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "dynamicSecretCreateGcp",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dynamicSecretCreateGcp"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/dynamicSecretCreateGcpResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/dynamic-secret-create-github": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "dynamicSecretCreateGithub",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dynamicSecretCreateGithub"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/dynamicSecretCreateGithubResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/dynamic-secret-create-gitlab": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "dynamicSecretCreateGitlab",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dynamicSecretCreateGitlab"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/dynamicSecretCreateGitlabResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/dynamic-secret-create-gke": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "dynamicSecretCreateGke",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dynamicSecretCreateGke"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/dynamicSecretCreateGkeResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/dynamic-secret-create-google-workspace": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "dynamicSecretCreateGoogleWorkspace",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dynamicSecretCreateGoogleWorkspace"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/dynamicSecretCreateGoogleWorkspaceResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/dynamic-secret-create-hanadb": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "dynamicSecretCreateHanaDb",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dynamicSecretCreateHanaDb"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/dynamicSecretCreateHanaDbResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/dynamic-secret-create-k8s": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "dynamicSecretCreateK8s",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dynamicSecretCreateK8s"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/dynamicSecretCreateK8sResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/dynamic-secret-create-ldap": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "dynamicSecretCreateLdap",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dynamicSecretCreateLdap"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/dynamicSecretCreateLdapResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/dynamic-secret-create-mongodb": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "dynamicSecretCreateMongoDb",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dynamicSecretCreateMongoDb"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/dynamicSecretCreateMongoDbResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/dynamic-secret-create-mssql": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "dynamicSecretCreateMsSql",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dynamicSecretCreateMsSql"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/dynamicSecretCreateMsSqlResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/dynamic-secret-create-mysql": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "dynamicSecretCreateMySql",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dynamicSecretCreateMySql"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/dynamicSecretCreateMySqlResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/dynamic-secret-create-openai": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "dynamicSecretCreateOpenAI",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dynamicSecretCreateOpenAI"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/dynamicSecretCreateOpenAIResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/dynamic-secret-create-oracle": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "dynamicSecretCreateOracleDb",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dynamicSecretCreateOracleDb"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/dynamicSecretCreateOracleDbResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/dynamic-secret-create-ping": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "dynamicSecretCreatePing",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dynamicSecretCreatePing"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/dynamicSecretCreatePingResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/dynamic-secret-create-postgresql": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "dynamicSecretCreatePostgreSql",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dynamicSecretCreatePostgreSql"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/dynamicSecretCreatePostgreSqlResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/dynamic-secret-create-rabbitmq": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "dynamicSecretCreateRabbitMq",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dynamicSecretCreateRabbitMq"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/dynamicSecretCreateRabbitMqResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/dynamic-secret-create-rdp": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "dynamicSecretCreateRdp",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dynamicSecretCreateRdp"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/dynamicSecretCreateRdpResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/dynamic-secret-create-redis": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "dynamicSecretCreateRedis",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dynamicSecretCreateRedis"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/dynamicSecretCreateRedisResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/dynamic-secret-create-redshift": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "dynamicSecretCreateRedshift",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dynamicSecretCreateRedshift"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/dynamicSecretCreateRedshiftResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/dynamic-secret-create-snowflake": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "dynamicSecretCreateSnowflake",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dynamicSecretCreateSnowflake"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/dynamicSecretCreateSnowflakeResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/dynamic-secret-create-venafi": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "dynamicSecretCreateVenafi",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dynamicSecretCreateVenafi"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/dynamicSecretCreateVenafiResponse"
          },
          "default": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/dynamic-secret-delete": {
      "post": {
        "tags": [
          "v2"
        ],
        "operationId": "dynamicSecretDelete",
        "parameters": [
          {
            "x-go-name": "Body",
            "name": "body",
[...]
